.jumbotron .btn-lg {
    font-size: 24px;
    padding: 14px 24px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar {
    padding: 8px 16px;
}
.navbar-brand {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 16px;
    font-size: 20px;
}
.navbar-toggler {
    padding: 8px 12px;
    font-size: 20px;
    border: 1px solid #808080;
}
.navbar-nav .navbar-link {
    padding-top: 6.8px;
    padding-bottom: 6.8px;
}
.jumbotron {
    margin: 60px 0 28.08px;
}
.jumbotron h1 {
    font-size: 48px;
    margin-bottom: 8px;
}
.lead {
    font-size: 20px;
}
p {
    margin-bottom: 16px;
}
.btn {
    padeding: 6px 20px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-6 {
    padding-right: 15px;
    padding-left: 15px;
}
.label  {
    padding: 4px 6.4px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.savegame-outer {
    max-width: 176px;
    height: 171.2px
}
ol {
    margin-bottom: 16px;
}
.offbox #rank-fleet-admiral {
    margin-bottom: 2.8px;
}
