---
title: Members
html: members.html
next: ranks.html
previous: rules.html
layout: default
---
<div id="content" class="container-fluid">
  <!-- members.js puts stuff here! -->
</div>

<hr />

<h4 id="records">Records</h4>
<p>Records are just posts that pertain to a certain person's actions and description. Once you do something worth mentioning, you will get a record. Plus, they are for showing off awards and achievements.</p>

<hr />

<h4 id="specialized">Specialized Officers</h4>
<p>These are the "specialized" Officers. To try out for a spot, place "registration" saves in the <a href="http://powdertoy.co.uk/Groups/Thread/View.html?Group=832&amp;Thread=1426">Ships and Weapons Thread</a>.</p>

<ul>
  <li>Commanding Officer: Fleet Admiral <a href="members.html?KydonShadow">KydonShadow</a></li>
  <li>Executive Officer: Admiral <a href="members.html?wolfy1339">wolfy1339</a></li>
  <li>Operations Officer: Admiral <a href="members.html?OC39648">OC39648</a></li>
  <li>Technical Officer: Admiral <a href="members.html?wolfy1339">wolfy1339</a></li>
  <li>Ordinance Officer: Admiral <a href="members.html?nijalninja98">nijalninja98</a></li>
  <li>Training Officer: Admiral <a href="members.html?dom2mom">dom2mom</a></li>
  <li>Engineering Officer: Commander <a href="members.html?benthecrazy">benthecrazy</a></li>
  <li>Enforcement Officer(s): (Can be more than one person. These just enforce the rules. Essentially the moderators, seeing as the Advisory didn't work out. The ranks for these are generally Lieutenant Commander and up.)</li>
</ul>

