body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* General jumbotron styling */
.jumbotron {
    margin: 3.750em 0 1.755em;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0;
}
.jumbotron h1 {
    font-size: 3rem;
}
.jumbotron .btn-lg {
    font-size: 1.5rem;
    padding: 0.875rem 1.5rem;
}
.sub-lead {
    margin-top: -15px;
}
.dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
    background-color: #e3f2fd;
}
.dropdown {
    cursor: pointer;
}
.navbar-toggler {
    border: 1px solid rgba(128, 128, 128, 0.79);
}
/* Custom container */
hr {
    margin: 30px 0;
}
.container {
    margin: 0 auto;
    max-width: 814px;
}

/* Mod download menu */
.jumbotron .dropdown-menu {
    padding-left: 5px;
    padding-right: 5px;   
    min-width: 270px;
}
.btn-group-vertical {
    float: left;
    margin-right: 10px;
}
.btn-group-vertical .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Centered subheadings */
.subheadings .col-md-6 {
    text-align: center;
}
.subheadings .col-md-6 p {
    margin-left: 10px;
    margin-right: 10px;
}
.subheadings .svg {
    max-width: 64px;
    max-height: 64px;
}

/* Forum Page list */
.forum-list {
    text-align: left;
    padding-left: 20px;
}

/* Hub jumbotron stuff */
#hub-logo {
    float: right;
}
@media (max-width : 390px) {
    #hub-logo {
        float: none;
    }
}
#hub-jumbotron-text {
    text-align: left;
}
#hub-btn {
    text-align: center;
}

/* Social buttons on the hub */
.social-buttons {
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
}
.social-buttons iframe {
    overflow: hidden;
    border: 0 none;
    max-height: 20px;
    max-width: 200px;
    background: none;
}
.social-twitter-2 {
    width: 28%;
}
.social-facebook, .social-github, .social-twitter, .social-twitter-2 {
    padding: 5px 8px;
    line-height: 1;
    display: inline-block;
}
.social-buttons .container ul {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.social-github, .social-twitter {
    width: 100px;
}
/* Award/Badge box at member records */
.award-box {
    text-align: right;
    padding-top: 10px;
}
.award-box a {
    margin-right: 5px;
}
.award-box a:last-child {
    margin-right: 0;
}

/* Avatar for member records */
.member-avatar {
    float: left;
    margin: 14px 10px 10px 10px;
    overflow: hidden;

    width: 4.5rem;
    height: 4.5rem;
    border-radius: 3px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.4);

    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.1)),to(rgba(0,0,0,0.1)));
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);

    background-image: linear-gradient(to top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -webkit-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}
/* Some additional label (badge) colors and styles */
.label {
    cursor: default;
    font-weight: bold;
}
.label-bronze {
    background-color: #BD6F2D;
}
.label-silver {
    background-color: #B7BDBD;
}
.label-diamond{
    background-color: #E0FFFF;
    color: #446;
    border: 1px solid #AAA;
}
.label-warning {
    background-color: #F89406;
}

/* Glyphicons */
.glyphicon-th-list {
    font-size: 15px;
}

/* If this seems weird, it is */
#content {
    clear: both;
    overflow: hidden;
}
ul {
    margin: 0 0 10px 25px;
    padding: 0;
}
.offbox #rank-fleet-admiral {
    margin-bottom: 0.2em;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

.footer {
    padding-right: 15px;
    padding-left: 15px;
}

h1, h2, h3, .h1, .h2, .h3 {
    line-height: 40px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h6 {
    display: block;
    font-weight: bold;
    text-rendering: optimizelegibility;
    margin: 10px 0;
}
