<footer class="footer">
  <a class="text-muted" href="https://github.com/Brilliant-Minds/Brilliant-Minds.github.io">repo</a>
  <a class="text-muted pull-xs-right" href="tos.html">Terms of Service &amp; Cookie policy</a>
</footer>

<!-- JavaScript -->
<script src="bootstrap/jquery.min.js" rel="prefetch"></script>
<script src="bootstrap/bootstrap.min.js" rel="prefetch"></script>

<!-- Fix for IE mobile -->
<script type="text/javascript">if(navigator.userAgent.match(/IEMobile\/10\.0/)){var msViewportStyle=document.createElement("style");msViewportStyle.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}"));document.querySelector("head").appendChild(msViewportStyle)}</script>

{% if page.title == "Members" %}
<script src="members.js" rel="prefetch"></script>
{% elsif page.title == "User Saves" or page.title == "Infos" %}
<script src="saveembed.js" rel="prefetch"></script>
{% elsif page.title == "Divisions" %}
<script src="divisions.js" rel="prefetch"></script>
{% elsif page.title == "CoC clan" %}
<script src="clan.js" rel="prefetch"></script>
{% elsif page.title == "Threads" %}
<script src="threads.js" rel="prefetch"></script>
{% elsif page.title == "IRC channel" %}
<script src="irc.js" rel="prefetch"></script>
{% endif %}
