<nav class="navbar navbar-light" role="navigation" style="background-color: #e3f2fd;">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="glyphicon-toggler"></span>
  </button>
  {% if page.nav %}
  <span class="navbar-brand">BMN <small>{{ page.nav }}</small></span>
  {% else %}
  <span class="navbar-brand">BMN <small>{{ page.title }}</small></span>
  {% endif %}
  <div class="collapse navbar-toggleable-xs" id="navbar">
    <ul class="nav navbar-nav">
      {% if page.title == "Hub" %}
      <li class="nav-item active"><a class="nav-link" href="index.html">Hub <span class="glyphicon glyphicon-home"></span></a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="index.html">Hub <span class="glyphicon glyphicon-home"></span></a></li>
      {% endif %}
      {% if page.title == "Members" %}
      <li class="nav-item active"><a class="nav-link" href="members.html">Members <span class="glyphicon glyphicon-user"></span></a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="members.html">Members <span class="glyphicon glyphicon-user"></span></a></li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Information</a>
        <ul class="dropdown-menu" role="menu">
          {% if page.title == "Infos" %}
          <li class="dropdown-item active"><a class="nav-link" class="nav-link" href="infos.html">Infos</a></li>
          {% else %}
          <li class="dropdown-item"><a class="nav-link" href="infos.html">Infos</a></li>
          {% endif %}
          {% if page.title == "Rules" %}
          <li class="dropdown-item active"><a class="nav-link" href="rules.html"><i class="glyphicon glyphicon-th-list"></i> Rules</a></li>
          {% else %}
          <li class="dropdown-item"><a class="nav-link" href="rules.html"><i class="glyphicon glyphicon-th-list"></i> Rules</a></li>
          {% endif %}
          {% if page.title == "Ranks" %}
          <li class="dropdown-item active"><a class="nav-link" href="ranks.html">Ranks</a></li>
          {% else %}
          <li class="dropdown-item"><a class="nav-link" href="ranks.html">Ranks</a></li>
          {% endif %}
          {% if page.title == "Threads" %}
          <li class="dropdown-item active"><a class="nav-link" href="threads.html">Threads</a></li>
          {% else %}
          <li class="dropdown-item"><a class="nav-link" href="threads.html">Threads</a></li>
          {% endif %}
          {% if page.title == "Our CoC clan" %}
          <li class="dropdown-item active"><a class="nav-link" href="clan.html">CoC clan</a></li>
          {% else %}
          <li class="dropdown-item"><a class="nav-link" href="clan.html">CoC clan</a></li>
          {% endif %}
          {% if page.title == "IRC channel" %}
          <li class="dropdown-item active"><a class="nav-link" href="irc.html">IRC channel</a></li>
          {% else %}
          <li class="dropdown-item"><a class="nav-link" href="irc.html">IRC channel</a></li>
          {% endif %}
        </ul>
      </li>
      {% if page.title == "User Saves" %}
      <li class="nav-item active"><a class="nav-link" href="saves.html">User Saves <span class="glyphicon glyphicon-floppy-disk"></span></a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="saves.html">User Saves <span class="glyphicon glyphicon-floppy-disk"></span></a></li>
      {% endif %}
      {% if page.title == "Divisions" %}
      <li class="nav-item active"><a class="nav-link" href="divisions.html">Divisions</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="divisions.html">Divisions</a></li>
      {% endif %}
      <li class="nav-item"><a class="nav-link" href="mailto:webmaster@wolfy1339.tk">Contact <span class="glyphicon glyphicon-envelope"></span></a></li>
    </ul>
  </div>
</nav>
